[Unit]
Description=ZEUS Hub for starting all apps
After=network.target

[Service]
Environment="ZEUS_APPS_DIR=/path/to/working/directory"

# The command to execute
ExecStart=$ZEUS_APPS_DIR/commands/startup.sh

# Working directory
WorkingDirectory=$ZEUS_APPS_DIR

# ---- Do not touch ----

# Restart options
Restart=on-failure
RestartSec=5s

# Logging options
StandardOutput=syslog
StandardError=syslog

# User and group to run the service as
User=myuser
Group=mygroup

# Limits
LimitNOFILE=1024

# Resource control
CPUQuota=50%
MemoryLimit=512M

[Install]
WantedBy=multi-user.target