[Unit]
Description=ZEUS Hub for starting all apps
After=network.target

[Service]
User=root
Group=root

# The command to execute
ExecStart=PATH/commands/startup.sh

# Working directory
WorkingDirectory=PATH

# ---- Do not touch ----

# Restart options
Restart=on-failure
RestartSec=5s

# Logging options
StandardOutput=syslog
StandardError=syslog

# Limits
LimitNOFILE=1024

# Resource control
CPUQuota=50%
MemoryLimit=512M

[Install]
WantedBy=multi-user.target