[Unit]
Description=ZEUS Hub for starting all apps
After=network.target

[Service]
Environment="ZEUS_REPO_DIR=/your/zeus/repo/dir"

User=root
Group=root

# The command to execute
ExecStart=$ZEUS_REPO_DIR/zeus_hub/service_commands/startup.sh

# ---- Do not touch ----

# Restart options
Restart=on-failure
RestartSec=5s

# Logging options
StandardOutput=syslog
StandardError=syslog

# Limits
LimitNOFILE=1024

# Resource control
CPUQuota=50%
MemoryLimit=512M

[Install]
WantedBy=multi-user.target